{% extends 'layout/basic.html' %}
{% load static %}
{% load i18n %}
{% block head %}
    <style>
        #banner-form-list {
            display: block;
            overflow-x: auto;
            white-space: nowrap;
        }

        #banner-news-form-list {
            display: block;
            overflow-x: auto;
            white-space: nowrap;
        }
        .fix_size{
            height: 400px;
            width: 350px;
            flex: 0 0 400px;
        }
    </style>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="card card-warning ">
            <div class="card-header">
                <h3 class="card-title">{% trans 'Баннеры' %}</h3>
            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-check form-switch position-absolute end-0">
                    {{ banner_collection_form.active }}
                    <label class="form-check-label"
                           for="{{ banner_collection_form.active.id_for_label }}">Active</label>
                </div>


                <div class="row mx-auto" id="banner-form-list">
                    {{ formset.management_form }}
                    {% for form in formset %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}

                        <div id="banner_{{ form.prefix }}" class="col-xl-3 d-inline-block mt-5 fix_size">
                            <div id="banner_img" class="mx-auto position-relative" style="width: 300px">
                                {% if form.instance.image %}
                                    <img id="img_{{ form.image.auto_id }}" src="{{ form.instance.image.url }}"
                                         class="d-block"
                                         height="200" width="300"
                                    >
                                {% else %}
                                    <img id="img_{{ form.image.auto_id }}" height="250" width="150"
                                         class="d-block ml-auto mr-auto"
                                         src="{% static 'adminLte/dist/img/default-placeholder-150x250.png' %} ">
                                {% endif %}
                                <a class="btn position-absolute top-0 start-100 translate-middle"
                                   id="delete_img" data-toggle="lightbox"
                                   data-title="sample 1 - white" data-gallery="gallery"
                                   onclick="delete_banner('{{ form.prefix }}')">
                                    <img src="{% static 'adminLte/dist/img/remove.png' %}" width="32">
                                </a>
                            </div>
                            <div class="input-bnt">
                                <button class="btn btn-secondary ml-auto mr-auto d-block" type="button"
                                        onclick="chooseFileBanners('{{ form.image.auto_id }}',
                                                'img_{{ form.image.auto_id }}')">
                                    {% trans 'Добавить' %}
                                </button>
                                <div style="height:0px;overflow:hidden">
                                    {{ form.image }}
                                </div>

                            </div>
                            <label for='{{ formset.empty_form.url.label_for_id }}'>Url</label>
                            {{ form.url }}

                            <label for='{{ formset.empty_form.text.label_for_id }}'>Текст</label>
                            {{ form.text }}
                            {{ form.errors }}
                        </div>
                    {% endfor %}
                    <div class="col-sm-1 d-inline-block" style="height: 250px">
                        <a class="btn d-block position-absolute top-50 start-50 translate-middle"
                           id="add_more_banner" data-toggle="lightbox"
                           data-title="sample 1 - white" data-gallery="gallery">
                            <img class="d-block ml-auto mr-auto d-inline"
                                 src="{% static 'adminLte/dist/img/plus_icon.png' %}" width="100">
                        </a>


                    </div>

                </div>


                <div id="empty_form-banner" class="d-none">
                    <div id="banner_img" class="mx-auto position-relative mt-4" style="width: 300px">
                        <img id="img_{{ formset.empty_form.image.auto_id }}" height="200" width="300"
                             class="d-block ml-auto mr-auto"
                             src="{% static 'adminLte/dist/img/default-placeholder-150x250.png' %} ">
                        <a class="btn position-absolute top-0 start-100 translate-middle"
                           id="delete_img" data-toggle="lightbox"
                           data-title="sample 1 - white" data-gallery="gallery"
                           onclick="delete_banner('{{ formset.empty_form.prefix }}')">
                            <img src="{% static 'adminLte/dist/img/remove.png' %}" width="32">
                        </a>
                    </div>
                    <div class="input-bnt">
                        <button class="btn btn-secondary ml-auto mr-auto d-block" type="button"
                                onclick="chooseFileBanners('{{ formset.empty_form.image.auto_id }}',
                                        'img_{{ formset.empty_form.image.auto_id }}')">
                            {% trans 'Добавить' %}
                        </button>
                        <div style="height:0px;overflow:hidden">
                            {{ formset.empty_form.image }}
                        </div>
                    </div>
                    <label for='{{ formset.empty_form.url.label_for_id }}'>Url</label>
                    {{ formset.empty_form.url }}
                    <label for='{{ formset.empty_form.text.label_for_id }}'>Text</label>
                    {{ formset.empty_form.text }}
                </div>
                {{ banner_collection_form.management_form }}
                {% for collection_form in banner_collection_form %}
                    {% for hidden in collection_form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                {% endfor %}
                <div class="banner-delete" hidden>
                    {% for form in formset %}
                        {{ form.DELETE }}
                    {% endfor %}</div>
                <input type="hidden" name="form_type" value="banners_form">
                <div class="row mb-3 mt-5">
                    <div class="col-sm-3">
                        <div class="ml-4">
                            <label for="{{ banner_collection_form.rotation_speed.id_for_label }}">
                                {% trans 'Скорость вращения' %}</label>
                            {{ banner_collection_form.rotation_speed }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <center>
                        <input type="submit" value="{% trans 'Сохранить' %}" class="btn btn-primary mx-auto">
                            </center>
                    </div>
                </div>
            </form>
        </div>

        <div class="card card-warning ">
            <div class="card-header">
                <h3 class="card-title">{% trans 'Сквозной баннер на заднем фоне' %}</h3>
            </div>
            <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row" >
                    <div class="col-2 mr-5 d-block">
                        <div class="position-absolute top-50 start-0 translate-middle-y">
                            {{ background_banner_form.is_image }}
                        </div>
                    </div>
                    <div id="background_img" class="col">
                        <div class="row row-cols-auto" id="background_banner">
                            <div class="col">
                                <div>
                                    {% if background_banner_form.instance.image %}
                                        <img id="img_{{ background_banner_form.image.auto_id }}"
                                             src="{{ background_banner_form.instance.image.url }}"
                                             class="d-block ml-auto mr-auto d-inline"
                                             height="150" width="250">
                                    {% else %}
                                        <img id="img_{{ background_banner_form.image.auto_id }}" height="100"
                                             width="200"
                                             class="d-block ml-auto mr-auto d-inline"
                                             src="{% static 'adminLte/dist/img/default-placeholder-150x250.png' %} ">
                                    {% endif %}
                                </div>

                            </div>
                            <div class="col">
                                <button class="btn btn-secondary d-block position-absolute
                                top-50 start-50 translate-middle"
                                        type="button"
                                        onclick="chooseFileBackBanner('{{ background_banner_form.image.auto_id }}',
                                                'img_{{ background_banner_form.image.auto_id }}')">
                                    {% trans 'Добавить' %}
                                </button>
                                <div style="height:0px;overflow:hidden">
                                    {{ background_banner_form.image }}
                                </div>
                            </div>
                            <div class="col">
                                {{ background_banner_form.image.clear }}
                                <button class="btn btn-secondary d-block position-absolute top-50 start-50 translate-middle"
                                        type="button"
                                        onclick="clearFile('{{ background_banner_form.image.auto_id }}',
                                                'img_{{ background_banner_form.image.auto_id }}')"
                                >{% trans 'Удалить' %}
                                </button>
                            </div>
                            {#                    {{ background_banner_form.image }}#}
                        </div>
                    </div>

                    <div id="color_picker" class="col">
                        {{ background_banner_form.color }}
                    </div>

                    {#                {{ background_banner_form }}#}
                </div>
                <input type="hidden" name="form_type" value="back_banner_form">
            <center>
                <input type="submit" value="{% trans 'Сохранить' %}" class="btn btn-primary mt-5">
                </center>
            </form>
            </div>

        </div>
        <div class="card card-warning ">
            <div class="card-header">
                <h3 class="card-title">{% trans 'Новости и Акции' %}</h3>
            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-check form-switch position-absolute end-0">
                    {{ banner_news_collection_form.active }}
                    <label class="form-check-label"
                           for="{{ banner_news_collection_form.active.id_for_label }}">Active</label>
                </div>

                <div class="row mx-auto" id="banner-news-form-list">
                    {{ banner_news_formset.management_form }}
                    {% for banner_news_form in banner_news_formset %}
                        {% for hidden in banner_news_form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}

                        <div id="banner_news_{{ banner_news_form.prefix }}" class="col-xl-3 d-inline-block mt-5 fix_size">
                            <div id="banner_img" class="mx-auto position-relative" style="width: 300px">
                                {% if banner_news_form.instance.image %}
                                    <img id="img_{{ banner_news_form.image.auto_id }}"
                                         src="{{ banner_news_form.instance.image.url }}"
                                         class="d-block ml-auto mr-auto"
                                         height="200" width="300">
                                {% else %}
                                    <img id="img_{{ banner_news_form.image.auto_id }}" height="200" width="300"
                                         class="d-block ml-auto mr-auto"
                                         src="{% static 'adminLte/dist/img/default-placeholder-150x250.png' %} ">
                                {% endif %}
                                <a class="btn position-absolute top-0 start-100 translate-middle"
                                   id="delete_img" data-toggle="lightbox"
                                   data-title="sample 1 - white" data-gallery="gallery"
                                   onclick="delete_banner('{{ banner_news_form.prefix }}')">
                                    <img src="{% static 'adminLte/dist/img/remove.png' %}" width="32">
                                </a>
                            </div>
                            <div class="input-bnt">
                                <button class="btn btn-secondary ml-auto mr-auto d-block" type="button"
                                        onclick="chooseFileBannersNews('{{ banner_news_form.image.auto_id }}',
                                                'img_{{ banner_news_form.image.auto_id }}')">
                                    {% trans 'Добавить' %}
                                </button>
                                <div style="height:0px;overflow:hidden">
                                    {{ banner_news_form.image }}
                                </div>

                            </div>
                            <label for='{{ banner_news_form.url.label_for_id }}'>Url</label>
                            {{ banner_news_form.url }}
                            {{ banner_news_form.errors }}
                        </div>
                    {% endfor %}
                    <div class="col-sm-1 d-inline-block" style="height: 250px">
                        <a class="btn d-block position-absolute top-50 start-50 translate-middle"
                           id="add_more_news_banner" data-toggle="lightbox"
                           data-title="sample 1 - white" data-gallery="gallery">
                            <img class="d-block ml-auto mr-auto d-inline"
                                 src="{% static 'adminLte/dist/img/plus_icon.png' %}" width="100">
                        </a>


                    </div>

                </div>


                <div id="empty_form-news-banner" class="d-none">
                    <div id="banner_img" class="mx-auto position-relative mt-4" style="width: 300px">
                        <img id="img_{{ banner_news_formset.empty_form.image.auto_id }}" height="200" width="300"
                             class="d-block ml-auto mr-auto"
                             src="{% static 'adminLte/dist/img/default-placeholder-150x250.png' %} ">
                        <a class="btn position-absolute top-0 start-100 translate-middle"
                           id="delete_img" data-toggle="lightbox"
                           data-title="sample 1 - white" data-gallery="gallery"
                           onclick="delete_news_banner('{{ banner_news_formset.empty_form.prefix }}')">
                            <img src="{% static 'adminLte/dist/img/remove.png' %}" width="32">
                        </a>
                    </div>
                    <div class="input-bnt">
                        <button class="btn btn-secondary ml-auto mr-auto d-block" type="button"
                                onclick="chooseFileBannersNews('{{ banner_news_formset.empty_form.image.auto_id }}',
                                        'img_{{ banner_news_formset.empty_form.image.auto_id }}')">
                            {% trans 'Добавить' %}
                        </button>
                        <div style="height:0px;overflow:hidden">
                            {{ banner_news_formset.empty_form.image }}
                        </div>
                    </div>
                    <label for='{{ banner_news_formset.empty_form.url.label_for_id }}'>Url</label>
                    {{ banner_news_formset.empty_form.url }}
                </div>
                {{ banner_news_collection_form.management_form }}
                {% for collection_form in banner_news_collection_form %}
                    {% for hidden in collection_form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                {% endfor %}
                <div class="banner-news-delete" hidden>
                    {% for form in banner_news_formset %}
                        {{ form.DELETE }}
                    {% endfor %}</div>
                <input type="hidden" name="form_type" value="banners_news_form">
                <div class="row mb-3 mt-5">
                    <div class="col-sm-3">
                        <div class="ml-4">
                            <label for="{{ banner_news_collection_form.rotation_speed.id_for_label }}">
                                {% trans 'Скорость вращения' %}</label>
                            {{ banner_news_collection_form.rotation_speed }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <center>
                        <input type="submit" value="{% trans 'Сохранить' %}" class="btn btn-primary mx-auto">
                            </center>
                    </div>
                </div>
            </form>
        </div>

    </section>
{% endblock %}

{% block scripts %}
    <script src="{% static 'banners/js/banners.js' %}"></script>

{% endblock %}