{% extends "layout/basic.html" %}
{% load static %}
{% load i18n %}
{% block content %}

    <div class="card card-secondary">
        <div class="card-header">
            <h4 class="card-title">{% trans 'Кинотеатры' %}</h4>
            <a href="{% url 'add_cinema' %}"><i class="fa-solid fa-plus float-right fs-4"></i></a>
        </div>
        <div class="card-body">
            <div class="row mt-3">
                {% for cinema in cinemas %}
                    <div class="col-xl-2">
                    <div class="position-relative mx-auto" style="width: 150px">
                        <a class="d-block" href="{% url 'cinema_update' cinema.pk %}" data-toggle="lightbox"
                           data-title="sample 1 - white" data-gallery="gallery" style="text-align: center"
                           id="{{ cinema.name }}">
                            {% if cinema.logo %}
                                <img src="{{ cinema.logo.url }}" height="250" width="150"
                                     class="d-block ml-auto mr-auto">
                            {% else %}
                                <img src="{% static 'adminLte/dist/img/default-placeholder-150x250.png' %}" height="250" width="150"
                                     class="d-block ml-auto mr-auto d-inline">
                            {% endif %}
                        <a class="delete_cinema btn position-absolute top-0 start-100 translate-middle"
                                   id="{{ cinema.pk }}" data-toggle="lightbox"
                                   data-title="sample 1 - white" data-gallery="gallery">
                                    <img id="{{ cinema.pk }}" src="{% static 'adminLte/dist/img/remove.png' %}" width="32">
                                </a>
                        </a>
                    </div>
                        <label class="d-block ml-auto mr-auto text-center"
                               for="{{ cinema.name }}">{{ cinema.name }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}
{% block scripts %}
    <script>
        $('#nav_cinemas').attr('class', 'nav-link active')
        $('.delete_cinema').click(function (event){
            let tag = $(event.target.parentNode.parentNode).next().text()
            alertify.confirm('{% trans 'Удалить кинотеатр' %} - '+ `${tag} ?`,
                function () {
                    window.location.href = '{% url 'delete_cinema' cinema_id=12345 %}'.replace(/12345/, event.target.id);
                    alertify.success('{% trans 'Зал удален' %}')
                },
                function () {
                }).set({labels: {ok: '{% trans 'Подтвердить' %}', cancel: '{% trans 'Отмена' %}'}});

        })
    </script>
{% endblock %}
