{% extends "layout/basic.html" %}
{% load static %}
{% block content %}

    <div class="card card-secondary">
        <div class="card-header">
            <h4 class="card-title">Films</h4>
        </div>
        <div class="card-body">
            <div class="row">
                {% for film in films %}
                <div class="col-sm-2">
                    <a href="{% url 'film_update' film.pk %}" data-toggle="lightbox"
                       data-title="sample 1 - white" data-gallery="gallery" style="text-align: center" id="{{ film.name}}">
                        {% if film.main_image %}
                        <img src="{{ film.main_image.url }}" height="250" width="150"
                                 class="d-block ml-auto mr-auto d-inline">
                        {% else %}
                            <img src="{% static 'adminLte/dist/img/default-placeholder-150x250.png' %}" height="250" width="150"
                                 class="d-block ml-auto mr-auto d-inline">
                        {% endif %}
                    </a>
                <label class="d-block ml-auto mr-auto text-center" for="{{ film.name}}">{{ film.name }}</label>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="card card-secondary">
    <div class="card-header">
            <h4 class="card-title">Soon</h4>
        </div>
    <div class="card-body">
            <div class="row">
                {% for film in films_soon %}
                <div class="col-sm-2">
                    <a href="{% url 'film_update' film.pk %}" data-toggle="lightbox"
                       data-title="sample 1 - white" data-gallery="gallery" style="text-align: center" id="{{ film.name}}">
                        {% if film.main_image %}
                        <img src="{{ film.main_image.url }}" height="250" width="150"
                                 class="d-block ml-auto mr-auto d-inline">
                        {% else %}
                            <img src="{% static 'adminLte/dist/img/default-placeholder-150x250.png' %}" height="250" width="150"
                                 class="d-block ml-auto mr-auto d-inline">
                        {% endif %}
                    </a>
                <label class="d-block ml-auto mr-auto text-center" for="{{ film.name}}">{{ film.name }}</label>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script>
    $('#nav_films').attr('class', 'nav-link active')
</script>
{% endblock %}
