{% extends 'layout/KinoCMS.html' %}
{% load static %}
{% load i18n %}
{% block head %}
    <style>
        body {
            background-color: #222831;
            color: white;

        }

        .seat-style {
            position: relative;
            border-radius: 2px;
            height: 48px;
            width: 48px;
            float: left;
            margin: 6px 2px;
            text-align: center;
        }

        .seat {
            cursor: pointer;
            border: 1px solid #e0e0e0;
        }

        .reserved {
            cursor: pointer;
            color: #fff;
            background-color: #f78119;
            border: 1px solid #f78119 !important;
        }

        .sold-out {
            cursor: not-allowed;
            color: #fff;
            background-color: #e4e4e4;
            border: 1px solid #e4e4e4 !important;

        }

        .number {
            display: inline-block;
            margin: 0 auto;
            padding: 3px;
        }

    </style>
    <link rel="stylesheet" href="{% static 'adminLte/plugins/fontawesome-free/css/all.min.css' %}">
    <!-- include the style -->
<link rel="stylesheet" href="{% static 'adminLte/plugins/alertifyjs/css/alertify.min.css'%}" />
<!-- include a theme -->
<link rel="stylesheet" href="{% static 'adminLte/plugins/alertifyjs/css/themes/default.min.css'%}" />
{% endblock %}
{% block content %}

    <div><img src="{{ session.hall.banner_image.url }}" height="500px" width="100%"></div>
    <div class="row mt-3 mb-3">
    <div class="col-2">
        <center><img src="{{ session.film.main_image.url }}" width="250"></center>

        <center><img src="{% static 'cinema/img/promo_context.png' %}"
         style="margin-top:40px" width="200" height="300">
        </center>
    </div>
    <div class="col">
        <div class="mb-3"><b class="fs-1">{{ session.film.name }}</b></div>

        <div class="row mb-4">
            <div class="col-2"><i class="fa-solid fa-clock fs-3" style="color: #d35400">
            </i> <span class="fs-4" style="margin-left: 10px">{{ session.date_time|date:'H:i' }}</span> </div>
            <div class="col-3"><i class="fa-regular fa-calendar-check fs-3" style="color: #d35400">
            </i>  <span class="fs-4" style="margin-left: 10px">{{ session.date_time|date:'j E, l' }}</span></div>
            <div class="col-4"><i class="fa-solid fa-location-dot fs-3" style="color: #d35400">
            </i>  <span class="fs-4" style="margin-left: 10px">{{ session.hall.cinema.name }}, {% trans 'зал' %}: {{ session.hall.name }}</span></div>

        </div>

        <div class="row row-cols-3" style="margin-bottom: 100px">
            <div class="col-3 d-table"><span class="d-table-cell align-middle" style="width: 140px;">{% trans 'Цена билета грн' %}: </span> <div class="d-table-cell align-middle" style="margin-left: 25px"><div style="height: 48px;
            width: 48px; border-radius: 2px; background-color: #d35400; text-align: center; vertical-align: middle; display: table-cell;"><b>{{ session.price }}</b></div></div></div>
            <div class="col-3 d-table"><span class="d-table-cell align-middle w-25">{% trans 'Забронировано' %}:</span><div class="sold-out seat-style" style="margin-left: 25px"></div> </div>

    <div class="col d-table">
        <span class="d-table-cell align-middle w-25">{% trans 'Ваш заказ' %}:</span>
        <div class="row row-cols-2 border border-3 d-table w-100" style="height: 60px;">
            <div class="col d-table-cell align-middle">{% trans 'Билетов' %}: <b id="ticket_numb" class="text-danger">0</b></div>
        <div class="col d-table-cell align-middle">{% trans 'Цена' %}: <b id="total_price" class="text-danger">0</b> грн</div>
        </div>


    </div>
        </div>

    <div class="seats row row-cols-2 position-relative mt-5" style="">
        <div class="col-1"></div>
        <div class="col-11 mb-5"><center><div class="screen" style="width:900px;">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 806 21" fill="#e4e4e4">
                                    <path d="M3.2,20l-2,0.2l-0.3-4l2-0.2C136.2,5.3,269.6,0,403,0s266.8,5.3,400.2,16l2,0.2l-0.3,4l-2-0.2 C669.5,9.3,536.3,4,403,4S136.4,9.3,3.2,20z"></path>
                                </svg>
                                <div class="name">{% trans 'ЭКРАН' %}</div>
                            </div></center></div>

    </div>

    <div class="empty-seat">
    </div>
    <center>
    <div class="col-4">
        <button type="button" class="submit btn btn-warning m-2" style="width: 150px;" value="True" id="btn_reserved">{% trans 'Забронировать' %}</button>
        <button type="button" class="submit btn btn-success m-2" style="width: 150px;" value="False" id="btn_buy">{% trans 'Купить' %}</button>
    </div>
    </center>
    </div>

    </div>

{% endblock %}
{% block scripts %}
    <script src="{% static 'adminLte/plugins/alertifyjs/alertify.min.js' %}"></script>

    <script>
    $('.navbar').attr('class', 'navbar navbar-expand-lg navbar-dark border border-light')


        let res_data
        let total_price = 0
        let ticket_numb = 0
        let ticket_price = {{ session.price }}
        let reserved_seats = []
        {% comment %}        var mask = {
                    1: 10,
                    2: 10,
                    3: 12,
                    4: 15,
                    5: 5,
                    6: 25,
                    7: 6,
                }{% endcomment %}
        let mask = {{ session.hall.scheme }}


            {#console.log(Object.values(mask))#}
        let numbers_list = Object.keys(mask)
        {#console.log(numbers_list)#}

        numbers_list.forEach(function (item) {
            $('.seats').append(`<div class="col-1 d-table" style="height: 60px"><b class="align-middle d-table-cell">Ряд ${item}</b></div>`)
            $('.seats').append(`<div class="col-11" style="height: 60px"><center><div class="number" id="${item}"></div><center></div>`)
            for (let i = 1; i <= mask[item.toString()]; i++) {
                let clone = $('.empty-seat').clone()
                clone.text(i)
                clone.attr('class', 'seat seat-style')
                clone.appendTo(`#${item}`)
            }
        })

        function reserved(target) {
            $(target).click(function (e) {

                $(e.target).attr('class', 'seat seat-style')

                let myIndex = reserved_seats.indexOf(`${e.target.parentElement.id},${e.target.innerText}`);

                console.log(myIndex)

                if (myIndex !== -1) {
                    reserved_seats.splice(myIndex, 1);
                }
                console.log(reserved_seats)
                $(e.target).off('click')
                seat(e.target)
                total_price -= ticket_price
                ticket_numb -= 1
                console.log('price: '+total_price)
                order_details(total_price,ticket_numb)
            });

        }

        function seat(target) {
            $(target).click(function (e) {

                $(e.target).attr('class', 'reserved seat-style')
                {#let dict = {e.target.parentElement.id : e.target.innerText}#}
                reserved_seats.push(e.target.parentElement.id + ',' + e.target.innerText)
                console.log(reserved_seats)
                $(e.target).off('click')
                reserved(e.target)
                total_price +=  ticket_price
                ticket_numb += 1
                console.log('price: '+total_price)
                order_details(total_price,ticket_numb)
            });
        }

        function sold_out(list) {
            list.forEach(function (item) {
                let seat = item.split(',')
                $('#' + seat[0] + ' .seat-style').filter(function () {
                    return $(this).text() === seat[1];
                }).attr('class', 'sold-out seat-style').off('click')


            })

        }
        function order_details(price, num_tickets) {
            $('#total_price').text(price)
            $('#ticket_numb').text(num_tickets)

        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                const cookies = document.cookie.split(";");
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + "=")) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        async function get_data () {
            let response = await fetch('{% url 'reservation' session.pk %}', {
                method: "GET",
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                }
            })
            res_data = await response.json()
            console.log(res_data.sold_out)
            sold_out(res_data.sold_out)
        }


        $('.submit').click(function (event) {
            alertify.confirm('{% trans 'Подтверждение' %}',$(event.target).text()+' {% trans 'места' %} ?',
  function(){
                if($(event.target).text() ==='{% trans 'Забронировать' %}'){
                    alertify.success( '{% trans 'Места успешно забронированы' %}')
                }
                else {
                    alertify.success( '{% trans 'Места успешно куплены' %}');
                }

    send_POST(event)
  },
  function(){
  }).set({labels:{ok:'{% trans 'Подтвердить' %}', cancel: '{% trans 'Отмена' %}'}});

        })
        async function send_POST (e) {
            console.log('clicked')
            let response = await fetch('{% url 'reservation' session.pk %}', {
                method: "POST",
                credentials: "same-origin",
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRFToken": getCookie("csrftoken"),
                },
                body: JSON.stringify({'seats': reserved_seats, 'reserved': e.target.value})
            })
            res_data = await response.json()
            console.log(res_data)
            sold_out(res_data.sold_out)
            reserved_seats = []
            order_details(total_price=0,ticket_numb=0)
        }
        $(document).ready(get_data())

        window.addEventListener('load', function () {
            // Your document is loaded.
            var fetchInterval = 3000; // 5 seconds.

            // Invoke the request every 5 seconds.
            setInterval(get_data, fetchInterval);
        });
        seat('.seat')


        {#        {% for seat in hall_tickets %}#}
        {#            reserved_seats.push('{{ seat.seat }}')#}
        {#            console.log(reserved_seats)#}
        {##}
        {#        {% endfor %}#}
        {#        sold_out(reserved_seats)#}

        {#for (let i = 0 ; i < mask[number] ;i++){#}
        {#    let clone = $('.empty-seat').clone()#}
        {#    clone.find('span').text(i)#}
        {#    clone.appendTo('.seats')#}
        {#    }#}

    </script>
{% endblock %}