{% extends 'layout/KinoCMS.html' %}
{% load static %}
{% load i18n %}
{% block head %}
    <style>
        body {
            background-color: #222831;
            color: white;

        }

    </style>
{% endblock %}
{% block content %}
    <div class="container">
    <div class="row mb-4">
    <div class="col-3"></div>
            <div class="col-2">
        <select class="form-select" onchange="sort_by_date()" id="date_sort">
            <option onclick="sort_by_date()">{% trans 'Дата' %}</option>
            <option  id="today">{% trans 'Сегодня' %}</option>
            <option  id="tomorrow">{% trans 'Завтра' %}</option>
            <option  id="week">{% trans 'Неделя' %}</option>
            <option  id="month">{% trans 'Месяц' %}</option>
        </select>
        </div>
    <div class="col-2">
        <select class="form-select" onchange="sort_by(event, 'cinema')" id="cinema_sort">
            <option value="">{% trans 'Кинотеатр' %}</option>
            {% for name in cinemas_names %}
                <option value="{{ name }}">{{ name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-2">
        <select id="film_sort" class="form-select" onchange="sort_by(event, 'film')">
            <option id="film_header">{% trans 'Фильмы' %}</option>

        </select>
    </div>
    <div class="col-2">
        <select id="hall_sort" class="form-select" onchange="sort_by(event, 'hall')">
            <option id="hall_header">{% trans 'Зал' %}</option>
        </select>
    </div>
    </div>
        <div class="row">
            <div class="col-8" id="table_list">

            </div>
            <div class="d-none">
            <table class="d-none">
                    <tbody>
{#                    {{ sessions.first.date_time.dat }}#}
                    <tr class="d-none" id="empty-session">

                        <td id="date" style="text-align: center;"></td>
                        <td id="time" style="text-align: center;"></td>
                        <td id="film" style="text-align: center;"></td>
                        <td id="hall" style="text-align: center;"></td>
                        <td id="price" style="text-align: center;"></td>
                        <td class="text-center"><a id="reservation"><i class="fa-solid fa-ticket fs-3 text-warning"></i></a></td>

                    </tr>
                    </tbody>
                </table>
                <table class="table table-light border border-warning border-5 w-100 center" id="copy_table">
                    <thead>
                    <tr>
                        <th scope="col" style="text-align: center;">{% trans 'Дата' %}</th>
                        <th scope="col" style="text-align: center;">{% trans 'Время' %}</th>
                        <th scope="col" style="text-align: center;">{% trans 'Фильм' %}</th>
                        <th scope="col" style="text-align: center;">{% trans 'Зал' %}</th>
                        <th scope="col" style="text-align: center;">{% trans 'Цена в грн' %}.</th>
                        <th scope="col" style="text-align: center;">{% trans 'Бронировать' %}</th>

                    </tr>
                    </thead>
                    <tbody id="sessions_list">
                    </tbody>
                </table>
                </div>
            <div class="col"><img src="{% static 'cinema/img/promo_context.png' %}" height="400"></div>
        </div>


    </div>

{% endblock %}
{% block scripts %}
    <script>
        $('.navbar').attr('class', 'navbar navbar-expand-lg navbar-dark border border-light')
    $('#user_nav').attr('class', 'navbar navbar-expand-lg navbar-dark')
        $('#nav_showtime').attr('class', 'nav-link active')
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        let res_data
        let sorted_by_cinemas
        let sorted_by_date
        let sorted_by_films
        let sorted_data
        let sorted_by_halls
        let sort_list = {'film': 'film__name', 'hall': 'hall__name', 'cinema': 'hall__cinema__name'}
        $(document).ready(async function () {
                // создаем AJAX-вызов
                let response = await fetch('{% url 'showtimes' %}', {
                    method: "GET",
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                    }
                })

                res_data = await response.json()
                sorted_by_cinemas = res_data.sessions
                sorted_data = res_data.sessions
                sorted_by_date = res_data.sessions
                show_by_dates(sorted_by_date)
            }
        )

        function update() {
            console.log(res_data)
            res_data.sessions.forEach(function (item) {
                console.log(item);
            })
        }


        console.log(new Date().getDate(), new Date().getMonth(), new Date().getFullYear())


        function set_films_options(data) {
            if ($('#film_sort option[value="' + data.film__name + '"]').length === 0) {
                $('#film_sort').append(`<option value="${data.film__name}">${data.film__name}</option>`)

            }
        }

        function sort_by(event, elem_option) {
            console.log($('#'+event.target.id +' option:selected').val())
            let elem_name = $('#'+event.target.id +' option:selected').val()
            if (elem_option) {
                let option_sort = sort_list[elem_option]
                if (elem_option === 'cinema') {
                    $('#film_sort option').not('#film_header').remove()
                    sorted_by_cinemas = sorted_by_date.filter(function (item) {
                    return item[option_sort] === elem_name
                })
                    show_by_dates(sorted_by_cinemas)
                }
                if (elem_option === 'film') {
                    $('#hall_sort option').not('#hall_header').remove()
                    sorted_by_films = sorted_by_cinemas.filter(function (item) {
                    return item[option_sort] === elem_name
                })
                    show_by_dates(sorted_by_films)
                }
                if (elem_option === 'hall') {
                    {#$('#film_sort option').not('#film_header').remove()#}
                    let sorted_by = sorted_by_cinemas
                    if (sorted_by_films)
                    {
                       sorted_by = sorted_by_films
                    }
                    if (elem_name){
                        sorted_by_halls = sorted_by.filter(function (item) {
                    return item[option_sort] === elem_name
                    })}
                    else {
                        sorted_by_halls = sorted_by
                    }

                    show_by_dates(sorted_by_halls)
                }


            } else {
                console.log(sorted_by_cinemas)
                show_by_dates(sorted_by_date)

            }

        }
        Date.prototype.today = function () {
    return ((this.getDate() < 10)?"0":"") + this.getDate() +"."+(((this.getMonth()+1) < 10)?"0":"")
        + (this.getMonth()+1) +"."+ this.getFullYear();
}
    Date.prototype.tomorrow = function () {
        return ((this.getDate() < 10) ? "0" : "") + (this.getDate()+1) + "." +
            (((this.getMonth() + 1) < 10) ? "0" : "") + (this.getMonth() + 1) + "." + this.getFullYear();
    }
    Date.prototype.next_week = function () {
        return (((this.getDate()+7) < 10) ? "0" : "") + (this.getDate() + 7) + "." +
            (((this.getMonth() + 1) < 10) ? "0" : "") + (this.getMonth() + 1) + "." + this.getFullYear();
    }
    Date.prototype.next_month = function () {
    return ((this.getDate() < 10)?"0":"") + this.getDate() +"."+(((this.getMonth()+2) < 10)?"0":"") +
        (this.getMonth()+2) +"."+ this.getFullYear();
}
        Date.prototype.timeNow = function () {
     return ((this.getHours() < 10)?"0":"") + this.getHours() +":"+ ((this.getMinutes() < 10)?"0":"") +
         this.getMinutes() +":"+ ((this.getSeconds() < 10)?"0":"") + this.getSeconds();
}
console.log('today'+new Date().today())
console.log('tomorrow'+new Date().tomorrow())
console.log('next_week'+new Date().next_week())
console.log('next_month'+new Date().next_month())
        function sort_by_date(date_option) {
            let today = new Date().today()
            date_option = $('#date_sort option:selected').attr('id')
            if (date_option) {

                if (date_option === 'today') {
                    console.log('hi')
                    sorted_by_date = res_data.sessions.filter(function (item) {
                        return item['date_time'] === today
                    })
                }
                if (date_option === 'tomorrow') {
                    sorted_by_date = res_data.sessions.filter(function (item) {
                        let tomorrow = new Date().tomorrow()
                        return item['date_time'] === tomorrow
                    })

                }
                if (date_option === 'week') {
                    sorted_by_date = res_data.sessions.filter(function (item) {
                        let week = new Date().next_week()
                        return item['date_time'] >= today && item['date_time'] < week
                    })
                }
                if (date_option === 'month') {
                    sorted_by_date = res_data.sessions.filter(function (item) {
                        let next_month = new Date().next_month()
                        return item['date_time'] >= today && item['date_time'] <= next_month
                    })
                }
            }
            else {
                sorted_by_date = res_data.sessions
                show_by_dates(res_data.sessions)
            }
            show_by_dates(sorted_by_date)
        }

        function set_halls_options(data) {
            if ($('#hall_sort option[value="' + data.hall__name + '"]').length === 0) {
                $('#hall_sort').append(`<option value="${data.hall__name}">${data.hall__name}</option>`)

            }
        }
        function capitalizeFirstLetter(string) {
  return string.charAt(0).toUpperCase() + string.slice(1);
}
        function show_by_dates(data) {
            $('#table_list').empty()
            let dates = []


            for (let i=0; i<data.length;i++){
                let date = data[i]['date_time']

                if(!dates.includes(date)){
                    let date_split = date.split('.')
                    let d = new Date(date_split[2], date_split[1], date_split[0]);
                    let we = new Intl.DateTimeFormat('{{request.LANGUAGE_CODE}}', { weekday: 'long' }).format(d);
                    let mo = new Intl.DateTimeFormat('{{request.LANGUAGE_CODE}}', { month: 'short' }).format(d);
                    let da = new Intl.DateTimeFormat('{{request.LANGUAGE_CODE}}', { day: '2-digit' }).format(d);
                    dates.push(date)
                    let copy_table = $('#copy_table').clone().attr('id',i)
                    copy_table.appendTo('#table_list')
                    copy_table.before(`<label>${da} ${mo}, ${capitalizeFirstLetter(we)}</label>`)
                    for(let j=i; j<data.length;j++){
                        if(data[j]['date_time']===date){
                            let clone = $('#empty-session').clone().attr('class', '').removeAttr('id')
                            clone.find('#date').text(data[j].date_time)
                            clone.find('#time').text(data[j].date_time__time)
                            clone.find('#film').text(data[j].film__name)
                            clone.find('#hall').text(data[j].hall__name)
                            clone.find('#price').text(data[j].price)
                            let link = "{% url 'reservation' session_id=12345 %}".replace(/12345/, data[j].pk)
                            clone.find('#reservation').attr('href', link)
                            let pk = parseInt(data[j].pk)
                            $(`#${i} #sessions_list`).append(clone)
                        }
                    }
                    console.log(date)
                }
                set_films_options(data[i])
            set_halls_options(data[i])

            }


        }

    </script>
{% endblock %}