{% extends 'layout/KinoCMS.html' %}
{% load i18n %}
{% block head %}
    <style>
        body{
            background-color: #222831;
            color: white;

    }
        #main_content{
            background-color: #393E46;
            border-radius: 5px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container p-0 pb-4" id="main_content">
    <div class="row">
    {% for film in films_soon %}

            <div class="col-lg-2 text-center mt-4">
            <b>C {{ film.date|date:"d.m.Y" }}</b><br/>
{#    <div >#}
        <a class="fs-6 link-primary" href="{% url 'film_card' film.pk %}">
            <img class="ml-auto mr-auto rounded" src="{{ film.main_image.url }}" height="200" width="150">
{#        </div>#}
        <p><b>{{ film.name }}</b></p></a>
                <a class="badge rounded-pill bg-warning mx-auto fs-6" href="{% url 'film_card' film.pk %}">
                <i class="fa-solid fa-ticket fa-rotate-by" style="--fa-rotate-angle: -45deg;"></i>  {% trans 'Купить билет' %}</a>
    </div>
    {% endfor %}
    </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
    $('.navbar').attr('class', 'navbar navbar-expand-lg navbar-dark border border-light')
    $('#user_nav').attr('class', 'navbar navbar-expand-lg navbar-dark')
    $('#nav_soon').attr('class', 'nav-link active')
    </script>
{% endblock %}