{% extends 'layout/basic.html' %}
{% load static %}
{% load i18n %}
{% block head %}
    <link rel="https://cdn.jsdelivr.net/npm/chartjs-plugin-piechart-outlabels@1.1.2">
{% endblock %}
{% block content %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-5">
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>{{ obj_users.count }}</h3>

                    <p>{% trans 'Зарегистрированных пользователей' %}</p>
                </div>
                <div class="icon">
                    <i class="fas fa-user-plus"></i>
                </div>
                <a href="{% url 'users' %}" class="small-box-footer">
                    {% trans 'Больше информации' %} <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
            <!-- PIE CHART -->
            <div class="card card-danger mt-5">
                <div class="card-header">
                    <h3 class="card-title">{% trans 'Пол' %}</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="pieChart"
                            style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
        <div class="col-7">
            <div class="card card-danger">
                <div class="card-header">
                    <h3 class="card-title">{% trans 'Сеансы' %}</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="visitors-chart" style="display: block; width: 764px; height: 500px;"
                            class="chartjs-render-monitor" width="800" height="400"></canvas>
                    {#                            <canvas style="display: block; box-sizing: border-box; height: 250px; width: 250px;" width="800" height="400" id="visitors-chart"></canvas>#}
                </div>
            </div>
        </div>

    </div>
    </div>
    {{ num_visits }}
{% endblock %}

{% block scripts %}
    <script>$('#nav_statistic').attr('class', 'nav-link active')</script>
    <!-- ChartJS -->
    <script src={% static "adminLte/plugins/chart.js/Chart.min.js" %}></script>
    <script src={% static "adminLte/plugins/chart.js/chartjs-plugin-labels.min.js" %}></script>
    {#<script src={% static "adminLte/plugins/chart.js/utils.js"%}></script>#}
    <script src="{% static 'adminLte/dist/js/statistic.js' %}"></script>
    <script>
        const labels = {{sessions_days}};
        let data_line;
        data_line = {
            labels: labels,
            datasets: [
                {
                    label: '{% trans 'Сеансы' %}',
                    data: {{ sessions_count }},
                    borderColor: 'rgb(255, 99, 132)',
                    backgroundColor: 'rgb(255,182,197)',
                }]
        }
        const configLine = {
            type: 'line',
            data: data_line,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Chart.js Line Chart'
                    }

                }
            },
        };
        var $visitorsChart = $('#visitors-chart')

        var visitorsChart = new Chart($visitorsChart, configLine)


    </script>
    <script>
        // const DATA_COUNT = 7;
        // const NUMBER_CFG = {count: DATA_COUNT, min: -100, max: 100};
        var label = []
        var donutData = {
            labels: [
                'Женский',
                'Мужской'
            ],

            datasets: [
                {
                    data: [{{ gender.0.count}},{{ gender.1.count }}],
                    backgroundColor: ['#e092ec', '#36A2EB'],
                }
            ],
        }
        //-------------
        //- PIE CHART -
        //-------------
        // Get context with jQuery - using jQuery's .get() method.
        var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
        var pieData = donutData;
        var pieOptions = {
            maintainAspectRatio: false,
            responsive: true,
            plugins: {
          labels: [
            {
              render: 'percentage',
                fontColor: 'white',
                fontSize: 16
            }
          ]
        }
        }
        //Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.
        new Chart(pieChartCanvas, {
            type: 'pie',
            data: pieData,
            options: pieOptions

        })

    </script>


{% endblock %}