{% extends "layout/basic.html" %}
{% load static %}
{% load i18n %}
{% block head %}

    <!-- DataTables -->
  <link rel="stylesheet" href={% static "adminLte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css"%}>
  <link rel="stylesheet" href={% static "adminLte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css"%}>
  <link rel="stylesheet" href={% static "adminLte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css"%}>
{% endblock %}
{% block content %}
<div class="card card-secondary">
        <div class="card-header">
            <h4 class="card-title">{% trans 'Пользователи' %}</h4>
        </div>
        <div class="card-body">
        <form method="post">
        {% csrf_token %}
            <table  id="users" class="table table-bordered table-hover">
                <thead>
                <tr>
{#                    <th>0</th>#}
                    <th><input type="checkbox" name="select_all" value="1" id="example-select-all"></th>
                    <th>ID</th>
                    <th>{% trans 'Дата создания' %}</th>
                    <th>Email</th>
                    <th>{% trans 'Телефон' %}</th>
                    <th>{% trans 'ФИО' %}</th>
                    <th>Username</th>
                    <th>{% trans 'Город' %}</th>


                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td><input type="checkbox" name="select_all" id="user_{{ user.pk }}"></td>
{#                        <td>0</td>#}
                        <td><a href="{% url 'update_user' user.id %}">{{ user.id }}</a> </td>
                        <td>{{ user.date_joined }}</td>
                        <td id="email_user_{{ user.pk }}">{{ user.email }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.city }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        <input type="submit" class="btn btn-primary">{% trans 'Отправить' %}</input>
        </form>

            </div>
        </div>


{% endblock %}
{% block scripts %}
    <script>
        $('#nav_users').attr('class', 'nav-link active')
    </script>
        <!-- DataTables  & Plugins -->
<script src={%static "adminLte/plugins/datatables/jquery.dataTables.min.js"%}></script>
<script src={%static "adminLte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"%}></script>
<script src={%static "adminLte/plugins/datatables-responsive/js/dataTables.responsive.min.js"%}></script>
<script src={%static "adminLte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"%}></script>
<script src={%static "adminLte/plugins/datatables-buttons/js/dataTables.buttons.min.js"%}></script>
<script src={%static "adminLte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"%}></script>
<script src={%static "adminLte/plugins/jszip/jszip.min.js"%}></script>
<script src={%static "adminLte/plugins/pdfmake/pdfmake.min.js"%}></script>
<script src={%static "adminLte/plugins/pdfmake/vfs_fonts.js"%}></script>
<script src={%static "adminLte/plugins/datatables-buttons/js/buttons.html5.min.js"%}></script>
<script src={%static "adminLte/plugins/datatables-buttons/js/buttons.print.min.js"%}></script>
<script src={%static "adminLte/plugins/datatables-buttons/js/buttons.colVis.min.js"%}></script>
    <script>
        $(document).ready(function () {
        var table = $('#users').DataTable({
                      'select': {
                         'style': 'multi'
                      },
                      "paging": true,
                      "lengthChange": false,
                      "searching": true,
                      "ordering": true,
                      "info": true,
                      "autoWidth": false,
                      "responsive": true,
            'order': [[1, 'asc']]
                    });

        });
    $('#users :checkbox').change(function (event) {
                    let value = ($('#email_' + event.target.id).text())
                    $('#' + event.target.id).attr('value', value)

            });
    </script>
{% endblock %}