{% extends "layout/basic.html" %}
{% load static %}
{% load i18n %}
{% block head %}
    <!-- DataTables -->
  <link rel="stylesheet" href={% static "adminLte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css"%}>
  <link rel="stylesheet" href={% static "adminLte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css"%}>
  <link rel="stylesheet" href={% static "adminLte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css"%}>
{% endblock %}
{% block content %}

    <div class="card card-secondary">
        <div class="card-header">
            <h4 class="card-title">{% trans 'Пользователи' %}</h4>
        </div>
        <div class="card-body">
            <table  id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>{% trans 'Дата создания' %}</th>
                    <th>Email</th>
                    <th>{% trans 'Телефон' %}</th>
                    <th>{% trans 'ФИО' %}</th>
                    <th>Username</th>
                    <th>{% trans 'Город' %}</th>
                    <th style="border: none"></th>


                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td class="id">{{ user.id }}</td>
                        <td>{{ user.date_joined }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                        <td class="username">{{ user.username }}</td>
                        <td>{{ user.city }}</td>
                        <td style="border: none" width="106">
                            <a href="{% url 'update_user' user.id %}"><img
                                    src="{% static 'cinema/img/pencil.png' %}" height="48px"></a>
                            {% if user.is_superuser %}
                            {% else %}
                                <a class="submit link-dark"
                                   onclick="delete_user(event,{{ user.pk }},'{{ user.username }}')"
                                   style="cursor: pointer">
                                    <img height="48px" src="{% static 'cinema/img/trash-can.png' %}"></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>


{% endblock %}
{% block scripts %}
    <script>
        $('#nav_users').attr('class', 'nav-link active')
    </script>
        <!-- DataTables  & Plugins -->
<script src={%static "adminLte/plugins/datatables/jquery.dataTables.min.js"%}></script>
<script src={%static "adminLte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"%}></script>
<script src={%static "adminLte/plugins/datatables-responsive/js/dataTables.responsive.min.js"%}></script>
<script src={%static "adminLte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"%}></script>
<script src={%static "adminLte/plugins/datatables-buttons/js/dataTables.buttons.min.js"%}></script>
<script src={%static "adminLte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"%}></script>
<script src={%static "adminLte/plugins/datatables-buttons/js/buttons.html5.min.js"%}></script>
<script src={%static "adminLte/plugins/datatables-buttons/js/buttons.print.min.js"%}></script>
<script src={%static "adminLte/plugins/datatables-buttons/js/buttons.colVis.min.js"%}></script>
    <script>
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
</script>
    <script>

            function delete_user(event,user_id,username){
            alertify.confirm('{% trans 'Удалить пользователя' %} - '+`${username} ?`,
                function () {
                    window.location.href = '{% url 'delete_user' user_id=12345 %}'.replace(/12345/, user_id);
                    alertify.success('{% trans 'Пользователь удалён' %}')
                },
                function () {
                }).set({labels: {ok: '{% trans 'Подтвердить' %}', cancel: '{% trans 'Отмена' %}'}});

        }
    </script>

{% endblock %}