{% extends "layout/basic.html" %}
{% load static %}
{% load i18n %}
{% block head %}
{% endblock %}
{% block content %}
    <section class="content">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for hidden in other_page_form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
         <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-russian-tab" data-bs-toggle="tab" data-bs-target="#nav-russian" type="button" role="tab" aria-controls="nav-russian" aria-selected="true">Русский</button>
    <button class="nav-link" id="nav-ukrainian-tab" data-bs-toggle="tab" data-bs-target="#nav-ukrainian" type="button" role="tab" aria-controls="nav-ukrainian" aria-selected="false">Українська</button>
  </div>
</nav>
    <div class="tab-content" id="nav-tabContent">
    <div class="form-group">
        <div class="form-check form-switch position-absolute end-0">
            {{ other_page_form.active }}
            <label class="form-check-label"
                   for="{{ main_page_form.active.id_for_label }}">Active</label>
        </div>
    </div>
      <div class="tab-pane fade show active" id="nav-russian" role="tabpanel" aria-labelledby="nav-russian-tab">
    <div class="form-group">
        <label for="name_id" class="form-label">{% trans 'Название' %}</label>
        {{ other_page_form.name_ru }}
    </div>
    <div class="form-group">
        <label for="description_id">{% trans 'Описание' %}</label>
        {{ other_page_form.description_ru }}
    </div>
      </div>
    <div class="tab-pane fade" id="nav-ukrainian" role="tabpanel" aria-labelledby="nav-ukrainian-tab">
          <div class="form-group">
        <label for="name_id" class="form-label">{% trans 'Название' %}</label>
        {{ other_page_form.name_uk }}
    </div>
    <div class="form-group">
        <label for="description_id">{% trans 'Описание' %}</label>
        {{ other_page_form.description_uk }}
    </div>
    </div>
    </div>
    <div class="form-group">
    <label>{% trans 'Главная картинка' %}</label>
        <div class="row">
            <div class="col-sm-2" style="width:420px">
                <div>
                    {% if other_page_form.instance.main_image %}
                        <img id="img_{{ other_page_form.main_image.auto_id }}"
                             src="{{ other_page_form.instance.main_image.url }}"
                             class="d-block ml-auto mr-auto d-inline"
                             height="250" width="150">
                    {% else %}
                        <img id="img_{{ other_page_form.main_image.auto_id }}" height="250" width="150"
                             class="d-block ml-auto mr-auto d-inline"
                             src="{% static 'adminLte/dist/img/default-placeholder-150x250.png' %} ">
                    {% endif %}
                </div>

            </div>
            <div class="col-sm-2 my-auto" style="width: 190px; height: 100px">
                <button class="btn btn-secondary d-block position-absolute top-50 start-50 translate-middle"
                        type="button"
                        onclick="chooseFile('{{ other_page_form.main_image.auto_id }}',
                                'img_{{ other_page_form.main_image.auto_id }}')">
                    {% trans 'Загрузить' %}
                </button>
                <div style="height:0px;overflow:hidden">
                    {{ other_page_form.main_image }}
                </div>
            </div>
            <div class="col-sm-2 my-auto" style="width: 190px; height: 100px">
                {{ other_page_form.main_image.clear }}
                <button class="btn btn-secondary d-block position-absolute top-50 start-50 translate-middle"
                        type="button"
                        onclick="clearFile('{{ other_page_form.main_image.auto_id }}',
                                'img_{{ other_page_form.main_image.auto_id }}')"
                >{% trans 'Удалить' %}
                </button>
            </div>

        </div>
    </div>
{% endblock %}
{% block content3 %}
    {{ other_page_form.errors }}
    <center>
    <center><button type="submit" class="btn btn-primary mb-3">{% trans 'Сохранить' %}</button></center>
    </center>
    </form>
    </section>
{% endblock %}
{% block scripts %}
    <script src="{% static 'pages/js/create_page.js' %}"></script>
    <script>
        $('#nav_pages').attr('class', 'nav-link active')
    </script>
{% endblock %}