{% extends "layout/basic.html" %}
{% load static %}
{% load i18n %}
{% block content %}

    <div class="card card-secondary">
        <div class="card-header">
            <h4 class="card-title">{% trans 'Акции' %}</h4>
        </div>
        <div class="card-body">
            <table  class="table table-bordered">
                <thead>
                <tr>
                    <th>{% trans 'Название' %}</th>
                    <th>{% trans 'Дата создания' %}</th>
                    <th>Статус</th>

                </tr>
                </thead>
                <tbody>
                {% for item in promos %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.date }}</td>
                        <td>{% if item.active %}
                            {% trans 'Вкл' %}
                            {% else %}
                            {% trans 'Выкл' %}
                        {% endif %}</td>

                        <th class="border-0" width="48px"><a
                                href="{% url 'update_news_promo' item.pk%}"
                        ><img height="48px"
                                                                   src="{% static 'cinema/img/pencil.png' %}"></a>
                        </th>
                        <td class="border-0" width="48px"><a onclick="delete_promo(event,{{ item.pk }},'{{ item.name }}')"
                               style="cursor: pointer"
                        ><img height="48px"
                                                                   src="{% static 'cinema/img/trash-can.png' %}"></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        <center>
        <a href="{% url 'add_news_promo' 'Promo'%}" class="btn btn-secondary mt-3">{% trans 'Добавить акцию' %}</a>
        </center>
            </div>
        </div>


{% endblock %}
{% block scripts %}
    <script>
        $('#nav_Promo').attr('class', 'nav-link active')
        function delete_promo(event,id,name){
            alertify.confirm('{% trans 'Удалить акцию' %} - '+`${name} ?`,
                function () {
                    window.location.href = '{% url 'delete_news_promo' news_promo_id=12345  %}'.replace(/12345/, id);
                    alertify.success('{% trans 'Акция удалена' %}')
                },
                function () {
                }).set({labels: {ok: '{% trans 'Подтвердить' %}', cancel: '{% trans 'Отмена' %}'}});

        }
    </script>
{% endblock %}