{% extends "layout/basic.html" %}
{% load static %}
{% block content %}

    <div class="card card-secondary">
        <div class="card-header">
            <h4 class="card-title">Promos</h4>
        </div>
        <div class="card-body">
            <table  class="table table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Date Create</th>
                    <th>Status</th>

                </tr>
                </thead>
                <tbody>
                {% for item in promos %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.date }}</td>
                        <td>{% if item.active %}
                            ON
                            {% else %}
                            OFF
                        {% endif %}</td>

                        <th class="border-0" width="48px"><a
                                href="{% url 'update_news_promo' item.pk%}"
                        ><img height="48px"
                                                                   src="{% static 'cinema/img/pencil.png' %}"></a>
                        </th>
                        <td class="border-0" width="48px"><a onclick="return confirm('Are you sure?');"
                               href="{% url 'delete_news_promo' item.pk  %}"
                        ><img height="48px"
                                                                   src="{% static 'cinema/img/trash-can.png' %}"></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        <a href="{% url 'add_news_promo' 'Promo'%}" class="btn btn-secondary">Add promo</a>
            </div>
        </div>


{% endblock %}
{% block scripts %}
    <script>
        $('#nav_promo').attr('class', 'nav-link active')
    </script>
{% endblock %}