{% extends 'layout/KinoCMS.html' %}
{% load static %}
{% load i18n %}
{% block head %}
    <style>
        body{
            background-color: #222831;
            color: white;

    }

    </style>
{% endblock %}
{% block content %}
       <div class="w-100">
                    <div class="w-100">
                <div id="carouselNews" class="carousel slide" data-bs-ride="carousel">
                 <div class="carousel-inner">
                        {% for banner in banners_news %}
                            {% if banner == banners_news|first %}
                        <div class="carousel-item active" data-bs-interval="{{ banners_news_collection.rotation_speed }}">
                            <img src="{{ banner.image.url }}" class="d-block w-100" height="600">
                            <div class="carousel-caption d-none d-md-block fs-2">
                            </div>
                        </div>
                                {% else %}
                            <div class="carousel-item" data-bs-interval="{{ banners_news_collection.rotation_speed }}">
                                <img src="{{ banner.image.url }}" class="d-block w-100" height="600">
                                <div class="carousel-caption d-none d-md-block fs-2">
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>


                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselNews"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselNews"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
                </div>
    <div class="row mt-5">

    <div class="col"><div class="container-fluid m-0">
    <div class="row row-cols-3">
        {% for promo in promos %}
        {% if promo.active %}
            <div class="col">
            <img src="{{ promo.main_image.url }}" height="300"  width="450" class="rounded">
            <br><a href="{% url 'promo_card' promo.pk %}" class="fs-4">{{ promo.name }}</a>
            <br><div class="border border-2 rounded-pill border-dark d-inline-block p-1"
                     style="background-color: #1c1b1b; font-size: smaller"><b>{{ promo.date|date:'d.m.Y' }}</b> </div>
            <p style="color: #abbac9"><b>{{ promo.description }}</b></p>
            </div>
            {% endif %}
        {% endfor %}

    </div>

</div></div>
    <div class="col-2"><div class="mb-5">
    <img src="{% static 'cinema/img/promo_cinemas.png' %}"
          width="215"
         class="img-fluid">
</div></div>
    </div>


{% endblock %}
{% block scripts %}
    <script>
    $('.navbar').attr('class', 'navbar navbar-expand-lg navbar-dark border border-light')
    $('#nav_promos').attr('class', 'nav-link active')
    </script>
{% endblock %}