{% extends 'layout/KinoCMS.html' %}
{% load static %}
{% block head %}
    <style>
        body {
            background-color: #222831;
            color: white;

        }

    </style>
{% endblock %}
{% block content %}
    <img src="{% static 'pages/img/Vip.png' %}" class="w-100">

    <div class="row mt-5">
        <div class="col-10"><center class="fs-1">Vip-зал</center></div>
        <div class="col-2"></div>
        <div class="col">

            <div class="container-fluid m-0">




                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae mattis velit, ac
                                venenatis magna. Donec tempor velit quis finibus aliquet. Vivamus in enim at mi placerat
                                consequat. Praesent eu consectetur sapien, nec porttitor risus. Phasellus odio purus,
                                ultricies vitae posuere dignissim, efficitur maximus purus. Sed ornare pharetra neque a
                                pharetra. Vivamus vel rutrum erat, accumsan sagittis diam. In venenatis rhoncus augue.
                                Etiam tincidunt egestas magna, ut vulputate quam efficitur nec. Suspendisse id iaculis
                                sapien, vitae tincidunt quam. Donec eu ex sodales, aliquam diam eget, pretium tortor.

                                Cras ligula massa, fermentum vitae sagittis ac, consectetur in mauris. Praesent quis
                                tincidunt ligula. Aliquam tellus dolor, condimentum sed accumsan sed, lobortis quis
                                ipsum. Nunc at efficitur mauris. Vestibulum ac facilisis leo. Phasellus sit amet mauris
                                in mauris aliquet sollicitudin. Ut dui quam, placerat et pulvinar vitae, scelerisque eu
                                risus. Phasellus aliquet dui quis nulla egestas, vitae rhoncus turpis rhoncus. Morbi
                                vestibulum lacus a mauris semper, in feugiat urna gravida. Cras quis ante ex. Aenean ac
                                eleifend ex, sed interdum libero. Fusce eget nunc dignissim, ornare metus quis, mattis
                                dolor. Cras sed velit condimentum, imperdiet augue vel, malesuada lorem.

                                Quisque erat velit, faucibus ullamcorper mauris vitae, pellentesque aliquam nisi.
                                Curabitur eleifend turpis et nulla maximus tempus. Donec facilisis non dui eget
                                vestibulum. Sed feugiat neque ut augue interdum condimentum. Phasellus enim elit,
                                vehicula et tincidunt nec, feugiat eget ipsum. Nunc ac arcu metus. Sed interdum dolor
                                risus, quis malesuada justo imperdiet in.

                                Nam gravida cursus eleifend. Vivamus justo augue, ultrices faucibus quam id, tristique
                                faucibus dui. Fusce ut metus sagittis, congue ligula ac, tincidunt nibh. Integer sit
                                amet lectus lectus. Nunc ante dolor, feugiat id tristique id, tincidunt sit amet eros.
                                Maecenas neque tellus, feugiat quis elementum mollis, tempor sit amet nisi. Ut non nulla
                                sed elit bibendum porttitor et vel quam. Donec in enim condimentum, egestas libero nec,
                                placerat tortor. Aliquam venenatis semper nisi quis hendrerit. Nam ac nulla sit amet
                                nunc hendrerit ullamcorper a non nulla. Fusce condimentum, dui et consequat efficitur,
                                ligula nisl semper odio, vitae sagittis mi lorem sit amet nisl.
                    <div class="row row-cols-3 mt-4 mb-4">
                        <div class="col">
                        <img src="{% static 'pages/img/SM-placeholder-1024x512.png' %}" width="450" height="250" class="rounded">
                </div>
                        <div class="col">
                        <img src="{% static 'pages/img/SM-placeholder-1024x512.png' %}" width="450" height="250" class="rounded">
                </div>
                        <div class="col">
                        <img src="{% static 'pages/img/SM-placeholder-1024x512.png' %}" width="450" height="250" class="rounded">
                </div>

                    </div>
                                Nullam eget risus placerat, scelerisque felis vel, lacinia ligula. Donec dapibus dictum
                                elit sit amet finibus. Aliquam erat volutpat. Phasellus volutpat laoreet vehicula. Donec
                                ut nunc diam. Phasellus ut metus mollis, varius felis vel, consequat nunc. Etiam feugiat
                                volutpat nisl, in aliquet eros aliquam vitae. Fusce a aliquet leo. Phasellus placerat,
                                lacus at convallis condimentum, ligula augue sodales ligula, vitae porttitor felis
                                ligula sed nisl. Proin sit amet magna sagittis, dapibus massa dictum, blandit diam.
                                Nullam pharetra sem vitae velit faucibus accumsan in vitae ante. Mauris ligula felis,
                                posuere euismod tempus nec, mollis dignissim diam.

<div class="container mb-4">
<center class="fs-1">Фотогалерея</center>
                <div id="carouselExampleCaptions" class="carousel slide rounded" data-bs-ride="carousel">
  <div class="carousel-indicators">
      {% for image in gallery %}
          {% if image == gallery|first %}
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              {% else %}
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ forloop.counter0 }}" aria-label="Slide {{ forloop.counter0 }}"></button>
          {% endif %}
      {% endfor %}
  </div>
  <div class="carousel-inner">
    {% for image in gallery %}
                            {% if image == gallery|first %}
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="{{ image.image.url }}" class="d-block w-100 rounded" height="600">
                            <div class="carousel-caption d-none d-md-block fs-2">
                            </div>
                        </div>
                                {% else %}
                            <div class="carousel-item rounded" data-bs-interval="10000">
                                <img src="{{ image.image.url }}" class="d-block w-100" height="600">
                                <div class="carousel-caption d-none d-md-block fs-2">
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

            </div>
        </div>
        <div class="col-2">
            <div class="mb-5">
                <img src="{% static 'cinema/img/promo_cinemas.png' %}"
                     width="215"
                     class="img-fluid">
            </div>
        </div>
    </div>


{% endblock %}
{% block scripts %}
    <script>
        $('.navbar').attr('class', 'navbar navbar-expand-lg navbar-dark border border-light')
        $('#nav_vip').attr('class', 'dropdown-item active')
    </script>
{% endblock %}